
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

/* ESTRUCTURA GENERAL DEL SITIO WEB*/
.estructuraBase{
    display: grid;
    grid-template-areas: 
        "encabezado"
        "contenido"
        "pieDePagina"
        ;
    grid-template-rows: 84px auto 40px;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
}

.encabezado{
    grid-area: encabezado;
}

.contenido{
    grid-area: contenido;
}

.pieDePagina{
    grid-area: pieDePagina;
}

.navBar{
    display: grid;
    grid-template-areas: 
        "logo menu"
        ;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}

.logo{
    grid-area: logo;
}

.menu{
    grid-area: menu;
}


/* FIN ESTRUCTURA GENERAL DEL SITIO WEB*/



/*Encabezado con logo y menú principal */

.encabezado{
    background-color: rgb(55, 55, 55);
    position: sticky;
    z-index: 500;
    top: 0px;
    width: 100%;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
}

.navBar{
    height: 100%;
    width: 100%;
}
.logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
}
.logo img{
    width: auto;
    height: 80px;
}
.logo h1 a{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    color:rgb(156, 156, 156);
}


.menu ul{
    height: 100%;
    font-family: 'Montserrat';
    font-size: 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.menu ul li a{  
    color:white;
}


.menu ul li a:hover{
    color:rgb(156, 156, 156);
} 

.navBar label img{
    display: none;
    margin: 10px;
    width: 35px;
    height: 35px;
    z-index: 600;
} 

.navBar input{
    display: none;
}



/* Pié de Página */

.pieDePagina{
    background-color:  rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height:40px;     
    box-shadow: 0px 25px 21px -30px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 25px 21px -30px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 25px 21px -30px rgba(0,0,0,0.75) inset;
}

.redes{
    width:auto ;
    display: flex; 
}

.redes a{
    height: 40px;
}

.redes a img{
    box-sizing: border-box;
    padding: 5px;
    height :100%;
    display: block;
}

.copy{
    width: auto;
    display: flex;
    justify-content:space-around;
}

.copy div{
    display: flex;
    justify-content: center;
}

.copy div img{
    width: 15px;
    height: 15px;
}

.copy div p{
    margin-right: 35px;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    text-align: center;
} 




/*INDEX */

/* Sección Información de la página */

.hero{
    background-image: url(../images/hero.jpg);
    filter:saturate(65%);
    background-attachment:fixed;
    background-size: cover;
    height: calc(100vh - 80px);
    font-family: 'Montserrat', sans-serif;
}
.hero h2{
    padding: 30px;
    font-size:2rem;   
    font-weight: 400;
}
.hero p{
    padding-left: 30px;
    width: 50%;
    font-size: 1.5rem;
    font-style: italic;
}


/* Sección de Novedades y Noticias */

.novedades {
    background-color: rgb(156, 156, 156); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0px 30px 0px;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 3px 3px 0 0;
    display: flex;
    flex-direction: column;
    width: 30vw ;
    height: calc(30vw + 100px);
    box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.2);
}

.cardImg img{
    border-radius: 3px 3px 0 0;
    width: 30vw;
    height: 30vw;
}
.cardCont{
    font-family: 'Montserrat';
    color: rgb(156, 156, 156);
    margin: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.cardCont h2{
    margin: 5px 0 10px 0;
    color: rgb(156, 156, 156);
    font-size: 0.7rem;
    font-weight: 700;
}

.cardCont p{
    width: 95%;
    color: rgb(212, 210, 210);
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    word-wrap:break-word;
}


/* Sección Fija de Contacto */

.contacto{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.contacto div img{
    width: 100%;
    height: 100%;
}

/* FIN INDEX */






/* PÁGINA CONTACTENOS */

.pagContactenos{
    width: 100%;
    height: calc(100vh - 80px - 40px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat';
    background-color: rgb(156, 156, 156);
}

.formulario{
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario h2{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
}

.formulario form div{
    width: 40vw; 
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.formulario form div label{
    width: 16vw; 
}

.formulario form div input{
    width: 24vw; 
}

.formulario form div textarea{
    width: 100%; 
}

.formulario div{
    display:flex;
    justify-content: space-around;
}

.formulario div div{
    margin-top: 5px;
}

.formulario div :hover{
    color:rgb(90, 90, 90);
}


.datos{
    height: 500px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos div img{
    width: 15px;
    height: 15px;
}

.datos div{
    width: 40vw;
    margin-top:5px;
}

.datos div iframe{
    width: 40vw;
    margin-top:5px;
}

.datos div div{
    margin-top:5px;
    display: flex;
    flex-direction: row;
}

/* FIN PÁGINA CONTACTENOS */






/* PÁGINA EQUIPOS */

.equiGeneral {
    background-color:rgb(156, 156, 156);
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.equiGeneral div{
    width: 97VW;
    height: 20vh;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
}

.equiGeneral div h2{
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.2);
    font-family: 'Montserrat';
    font-size: 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.equiGeneral div h2 a{
    color: rgba(210, 210, 210, 0.904);
}  

.equiGeneral div :hover{
    background-color: transparent;
}

.tituloBait{
    background-image: url(../images/baitcasting/fondobait.jpg);
    background-position: center;
    background-size: cover;
}

.tituloSpinning{
    background-image: url(../images/spinning/fondospinning.jpg);
    background-position: center;
    background-size: cover;
}

.tituloLance{
    background-image: url(../images/lance/fondolance.jpg);
    background-position: center;
    background-size: cover;
}

.tituloFly{
    background-image: url(../images/fly/fondofly.jpg);
    background-position: center;
    background-size: cover;
}

.equiCategorias{
    background-color:rgb(156, 156, 156);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

.equiCategorias h3{
    width: 95vw;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-size: 3rem;  
    font-style: italic;
    font-weight: 600;
    color: rgb(55, 55, 55);
}

.equiCategorias div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.equiCategorias div div{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}

.equiCategorias div div h4{
    position: relative;
    bottom: 40px;
    left: 5px;
    font-family: 'Montserrat';
    font-size: 2rem; 
    font-style: italic;
    font-weight: 600;
}   

.equiCategorias div div img{
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    width: 30vw;
    height: 30vw;
}

/* FIN PÁGINA EQUIPOS */







/* PÁGINA EXCURSIONES */

.pagExcursiones{
    background-color:rgb(156, 156, 156);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.excursiones {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(99, 99, 99); 
    width: 95%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
}

.excurImg{
    width: 100%;
}

.excurDatos{
    width: 60%;
}

.excurImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.excurDatos h2{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Montserrat';
    font-size: 2rem;
}

.excurDatos p{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Montserrat';
    font-size: 1rem;
}


/* FIN PÁGINA EXCURSIONES */








/* PÁGINA EVENTOS */

.pagEventos{
    background-color:rgb(156, 156, 156) ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.evenTitle{
    width: 95vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
} 

.evenTitle h2{
    width: 100%;
    font-family: 'Montserrat';
    font-size: 2rem;
    color: rgb(55, 55, 55);
    font-style: italic;
    font-weight: 700;
    text-align: left;
}

.evento{
    background-color: rgb(55, 55, 55);
    width: 95vw;
    height: 32vw;
    display: flex;
    margin-bottom: 2vw;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.37);
}

.evenFoto{
    width:48vw;
    height:32vw;
    position: relative;
}
.evenFoto img{
    display: block;
    width: 100% ;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit:cover;
} 

.evenFoto h3{
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.67);
    border-bottom-left-radius: 5px;

    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family: 'Montserrat';
    font-size: 2vw; 
    font-weight: 600;
    font-style: italic;
    color: rgb(156, 156, 156);
}

.evenDatos{
    width:47vw;
    height:100%;
    position: relative;    
}

.evenFecha {
    padding: 20px;
    width: 100%;
}
.evenFecha p{
    text-align: right;
    font-family: 'Montserrat';
    font-size: 1vw;
    color: rgb(156, 156, 156); 
}

.evenInfo{
    padding-left:2.2vw;
    padding-right:2.2vw ;
    width: 100%;
    height: 25%;
}
.evenInfo p{
    font-family: 'Montserrat';
    font-size: 1.5vw; 
    color: rgb(156, 156, 156);
    height: 100%;
    overflow:auto;
}

.evenMapa{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 65%;
}

.evenMapa iframe{
    display: block;
    padding:2.2vw;
    width: 100%;
    height: 100%;
}
/* FIN PÁGINA EVENTOS */




/*APLICACIÓN MEDIA QUERIE ESTRUCTURA GENERAL*/


@media screen and (max-width:1000px){

    .logo img{  
        height:64px ;
    }
    .logo h1 a{
        font-size: 40px;
    }

    .navBar{
        display: grid;
        grid-template-areas: 
            "logo"
            "menu"
            ;
        grid-template-rows: 70px 20px;
        grid-template-columns: 100%;
    }

    .estructuraBase{
        display: grid;
        grid-template-areas: 
            "encabezado"
            "contenido"
            "pieDePagina"
            ;
        grid-template-rows:90px auto 40px;
        grid-template-columns: 1fr;
    }

    .logo {
        justify-content:center;
    }

}


@media screen and (max-width:700px){
    .estructuraBase{
        display: grid;
        grid-template-areas: 
            "encabezado"
            "contenido"
            "pieDePagina"
            ;
        grid-template-rows:70px auto 40px;
        grid-template-columns: 1fr;
    }

    .navBar{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }

    .navBar label img{
        display:block
    } 
    
    .logo{
        justify-content: left;
    }
    .menu{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 35vh;
        background-color: rgba(55, 55, 55, 0.9);
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        }

    .menu ul{       
        padding: 5px 10px;
        width: 100%;
        height: 100%;
        display: flex;        
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        font-size: 1.3rem;
    }

    .menu ul li {
    margin: 4px;
    padding: px;
    height:100%;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    }

    .menu ul li a{
        margin: auto;
    }

    .menu{  
        transition: all 0.5s;
        transform: translateX(-102%);
    }

    #menuActive:checked ~ .menu{
        transform: translateX(0%);
    }

    .copy{
        display: none;
    }
    
    .redes{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }

}

/*FIN APLICACIÓN MEDIA QUERIE ESTRUCTURA GENERAL*/



/*APLICACIÓN MEDIA QUERIE PAGINA EVENTOS*/


@media screen and (max-width:1000px){
    .evento{
        flex-direction: column;
        height: 96vw;
    }

    .evenTitle h2{
        text-align: center;
    }
    
    .evenFoto{
        width:95vw;
        height:64vw;
    }

    .evenFoto img{
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    } 
    
    .evenFoto h3{
        border-bottom-left-radius: 0px;
        text-align: center;
        font-size: 1.2rem; 
    }
    
    .evenDatos{
        width:95vw;
        height: 32vw;
        display: grid;
        grid-template-areas: 
            "evenFecha evenMapa"
            "evenInfo evenMapa"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3vw 29vw;
    }

    .evenFecha {
        padding: 10px;
        grid-area: evenFecha;
    }

    .evenFecha p{
        text-align: right;
        font-size: 1rem;
    }
    
    .evenInfo{
        padding: 20px;
        grid-area: evenInfo;
        height: 100%;
    }

    .evenInfo p{
        font-size: 1rem; 
    }
    
    .evenMapa{
        position: absolute;
        padding: 10px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        grid-area: evenMapa;
    }
    
    .evenMapa iframe{
        display: block;
        padding:0px;
        width: 100%;
        height: 100%;
    }

}

/* 
@media screen and (max-width:700px){

    
} */


/*FIN APLICACIÓN MEDIA QUERIE PAGINA EVENTOS*/




/*APLICACIÓN MEDIA QUERIE PAGINA EQUIPOS*/


@media screen and (max-width:1000px){
    
    .equiGeneral {
        height: calc(100vh - 90px);
    }
    
    .equiGeneral div h2{
        font-size: 3rem; 
    }

    .equiCategorias h3{
        font-size: 2rem;  
    }

    .equiCategorias div div h4{
        font-size: 2rem; 
    }

}


@media screen and (max-width:700px){

    .equiGeneral {
        height: calc(100vh - 70px);
    }


    .equiGeneral div h2{
        font-size: 2.5rem;  
    }

    .equiCategorias{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 70px;
    }
    
    .equiCategorias h3{
        text-align: center;
    }
    
    .equiCategorias div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .equiCategorias div div{
        flex-direction: column;
        width: 95vw;
    }
    
    .equiCategorias div div img{
        width: 95%;
        height: auto;
    }
}


/*FIN APLICACIÓN MEDIA QUERIE PAGINA EQUIPOS*/



/*APLICACIÓN MEDIA QUERIE PAGINA INDEX*/


@media screen and (max-width:1000px){

/* Sección Información de la página */


.hero h2{
    padding: 30px;
    font-size:1.7rem;   
}
.hero p{
    width: 60%;
    font-size: 1.2rem;
}


/* Sección de Novedades y Noticias */



.cardCont h2{
    font-size: 0.6rem;
}

.cardCont p{
    font-size: 0.8rem;
}

}


@media screen and (max-width:700px){

/* Sección Información de la página */

.hero h2{
    padding: 30px;
    font-size:1.5rem;   
}
.hero p{
    padding-right: 30px;
    width: 100%;
    font-size: 1rem;
}


/* Sección de Novedades y Noticias */


.novedades {
    background-color: rgb(156, 156, 156); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 90vw ;
    height: 100%;
}

.cardImg img{
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 100%;
}


.cardCont h2{
    font-size: 0.7rem;
}

.cardCont p{
    font-size: 1rem;
}

}

/*FIN APLICACIÓN MEDIA QUERIE PAGINA INDEX*/



/*APLICACIÓN MEDIA QUERIE PAGINA CONTACTENOS*/


@media screen and (max-width:1000px){

    /* Sección principal de página */
    .pagContactenos{
        width: 100%;
        height: 100%;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-evenly;
        align-items: center;
        font-family: 'Montserrat';
        background-color: rgb(156, 156, 156); */
    }
    
    .formulario{
        width: 90vw;
        height: 100% ;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    
    .formulario h2{
        margin-top: 15px;
        /* font-size: 2rem;
        font-weight: 400; */
    }
    
    .formulario form div{
        width: 90vw; 
        /* display: flex;
        flex-direction: row;
        padding: 3px; */
    }
    
    .formulario form div label{
        width: 30%; 
    }
    
    .formulario form div input{
        width: 70%; 
    }
    
    /* .formulario form div textarea{
        width: 100%; 
    } */
    
    /* .formulario div{
        display:flex;
        justify-content: space-around;
    } */
    
    /* .formulario div div{
        margin-top: 5px;
    } */
    
    /* .formulario div :hover{
        color:rgb(90, 90, 90);
    }
     */
    
    .datos{
        height: 100%;   
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .datos div img{
        width: 15px;
        height: 15px;
    }
    
    .datos div{
        width: 100%;
        margin-top:5px;
    }
    
    .datos div iframe{
        width: 100%;
        margin-top:5px;
    }
    
    .datos div div{
        margin-top:5px;
        display: flex;
        flex-direction: row;
    }
    
}
    
    
/*FIN APLICACIÓN MEDIA QUERIE PAGINA CONTACTENOS*/
