/* PÁGINA GALERIA */

.galeria{
    background-color:rgb(156, 156, 156) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 17vw ;
    padding: 2px;

    .img-gal{
        width: 100%;
        height: 100%;
        display: flex;
        input{
            display: none;
        }
        label{
            img{
                display: block;
                padding: 4px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor:pointer;
            }
        }
        & :hover{
                padding: 1.5px;
                transition: 0.1s;
        }
        & input:checked ~ label{
            position: fixed;
            background-color: rgba(0, 0, 0, 0.85);
            top: 84px;
            left: 0px;
            width: 100vw;
            height: calc(100vh - 84px);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                object-fit: contain;
                height: 90%;
                transition: 0.2s;
            }
        }
    }
    .img-gal-03{
        grid-row: span 2;
    }
    .img-gal-05{
        grid-column: span 2;
        grid-row: span 2;
    } 
    .img-gal-11{
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* FIN PÁGINA GALERIA */







/*APLICACIÓN MEDIA QUERIE PAGINA GALERIA*/


@media screen and (max-width:1000px){

    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 22vw ;
        .img-gal{
            & input:checked ~ label{
                top: 90px;
                height: calc(100vh - 90px);
            }
        }
        .img-gal-03{
            grid-row: span 1;
        }
        .img-gal-13{
            grid-row: span 2;
        } 
    } 
}

@media screen and (max-width:700px){




    .galeria{

        grid-template-columns: 1fr 1fr ;
        grid-auto-rows: 33vw ;
        .img-gal{
            & input:checked ~ label{
                top: 70px;
                height: calc(100vh - 70px);
            }
        }
        .img-gal-08{
            grid-row: span 2;
        }
        .img-gal-15{
            grid-row: span 2;
        }
        
        // .img-gal-17{
        //     grid-column: span 2;
        //     background-color: red;
        // }

    }    
}
    
/*FIN APLICACIÓN MEDIA QUERIE PAGINA GALERIA*/