.estructuraBase{
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
    .encabezado{
        background-color: $colorPescatino2;
        position: sticky;
        z-index: 500;
        top: 0px;
        width: 100%;
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.44);
        nav{
            height: 100%;
            width: 100%;
            input{
                display: none;
            }
            label img{
                display: none;
                margin: 10px;
                width: 35px;
                height: 35px;
                z-index: 600;
            }
            .logo{
                grid-area: logo;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content:left;
                align-items: center;
                h1 a{
                    font-family: 'Montserrat', sans-serif;
                    font-style: italic;
                    font-weight: 800;
                    font-size: 50px;
                    color:$colorPescatino4;
                }
                img{
                    width: auto;
                    height: 80px;
                    transition: 1s;
                    animation-name: logo-animation;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                }
            }
            .menu{
                ul{
                    height: 100%;
                    font-family: 'Montserrat';
                    font-size: 1rem;
                    display: flex;
                    justify-content:space-around;
                    align-items: center;
                    li a{
                        color:white;
                        &:hover{
                            color:$colorPescatino4;
                        } 
                    }
                }
            }
        }

    }    

}

@keyframes logo-animation{
    0%{
        transform:rotateY(0deg) ;
    }
    85%{
        transform:rotateY(0deg) ;
    }
    100%{
        transform:rotateY(360deg) ;
    }
}



/*APLICACIÓN MEDIA QUERIES MENU*/

@media screen and (max-width:1000px) {

    .estructuraBase {
        .encabezado {
            .navBar {
                .logo {
                    img {
                        height: 64px;
                    }
                    h1 a {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .logo {
        justify-content: center;
    }

}


@media screen and (max-width:700px) {
    .estructuraBase {
        .encabezado {
            .navBar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo {
                    justify-content: left;
                    img {
                        height: 57px;
                    }
                    h1 a {
                        font-size: 36px;
                    }
                }
                label img {
                    display: block
                }
                .menu {
                    position: absolute;
                    top: 70px;
                    left: 0;
                    width: 100%;
                    height: 50vh;
                    background-color: $colorPescatino2T;
                    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.44);
                    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.44);
                    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.44);
                    transition: all 0.5s;
                    transform: translateX(-102%);
                    ul {
                        padding: 5px 10px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 1.3rem;

                        li {
                            margin: 4px;
                            padding: px;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            text-align: center;
                            background-color: $colorPescarino1T1;
                            a {
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    #menuActive:checked~.menu {
        transform: translateX(0%);
    }
}

/*FIN APLICACIÓN MEDIA QUERIES MENU*/




