
//COLORES UTILIZADOS
$colorPescarino1T1:rgba(0, 0, 0, 0.4);
$colorPescarino1T2:rgba(0,0,0,0.795);
$colorPescatino1T3: rgba(0, 0, 0, 0.708);
$colorPescatino1T4: rgba(0,0,0,0.85);

$colorPescatino2: rgb(55, 55, 55);
$colorPescatino2T: rgba(55,55,55,0.9);

$colorPescatino3a:rgb(90,90,90);
$colorPescatino3b:rgb(99,99,99);
$colorPescatino3c: rgb(100,100,100);

$colorPescatino4: rgb(156,156,156);
$colorPescatino4T: rgba(0, 0, 0, 0.667);


$colorPescatino5:rgb(212,210,210);
$colorPescatino5T: rgba(210,210,210,0.904);

$colorPescatino6T: rgba(216,216,216,0.2);


