
//COLORES
$colorPescarino1T1:rgba(0, 0, 0, 0.4);
$colorPescarino1T2:rgba(0,0,0,0.795);
$colorPescatino1T3: rgba(0,0,0,0.67);
$colorPescatino1T4: rgba(0,0,0,0.85);

$colorPescatino2: rgb(55, 55, 55); //ok
$colorPescatino2T: rgba(55,55,55,0.9);//ok

$colorPescatino3a:rgb(90,90,90);//ok
$colorPescatino3b:rgb(99,99,99);//ok
$colorPescatino3c: rgb(100,100,100);

$colorPescatino4: rgb(156,156,156); //ok

$colorPescatino5:rgb(212,210,210);
$colorPescatino5T: rgba(210,210,210,0.904);//ok

$colorPescatino6T: rgba(216,216,216,0.2);//ok


